.card-custom {
    border-radius: 12px;
    overflow: hidden;
    background: var(--bg-card-custom);
    border: 0;
}

.card-header {
    background-color: var(--bg-card-custom-header); /* Warna ungu */
    padding: 15px;
    border: 0;
}

.card-body {
    padding: 15px;
}

.tugas-fungsi {
    padding: .5rem 3rem;
    text-align: center;
    background-color: var(--bg-card-custom-header);
    width: 12rem;
    margin: 0;
    border-radius: .5rem .5rem 0 0;
}

.tugas-fungsi p {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.desc-list {
    padding: 2rem 3rem;
    color: #52575C;
    background-color: var(--bg-card-custom);
    border-radius: 0 .5rem .5rem .5rem;
}

@media only screen and (max-width: 768px) {
    .card-custom .card-header {
        font-size: 1rem;
    }

    .card-custom .card-header .fs-16 {
        font-size: 1rem;
    }

    .desc-list {
        padding: 1rem 2.5rem;
    }

    .desc-list li {
        font-size: 0.875rem;
        line-height: 160%;
    }

    .title-struktur-tugas{
        font-size: 1.135rem;
    }

    .tugas-fungsi {
        font-size: 1rem;
    }
}