.accordion-button:not(.collapsed) {
    color: var(--color-accordion);
    background-color: var(--bg-accordion);
    box-shadow: unset;
}

button.accordion-button.collapsed {
    color: var(--color-accordion);
    background: var(--bg-accordion);
}

.accordion-body {
    background: var(--bg-accordion);
    color: var(--text-color);
}

.accordion-item {
    border: unset;
}

.accordion-button::after {
    content: none !important;
    color: var(--color-accordion);
}

.accordion-button {
    content: none !important;
    color: var(--color-accordion);
}

.accordion-button::after {
    content: "\F282"; /* Bootstrap Icons chevron-down */
    font-family: "bootstrap-icons";
    font-size: 1rem;
    color: var(--text-color, #000); /* Ubah warna sesuai kebutuhan */
    margin-left: auto; /* Geser ikon ke ujung kanan */
    transition: transform 0.3s ease; /* Animasi rotasi */
}

.accordion-button:focus {
    box-shadow: unset;
}