<footer class="footer py-4 text-white" style="background-color: #121865;">
    <div class="container">
        <div class="row align-items-center justify-content-between w-100">
            <!-- Copyright text -->
            <div class="col-12 col-md-6 text-center text-md-start mb-3 mb-md-0">
                <p class="mb-0">© 2025 Lembaga Sensor Film Republik Indonesia. All Rights Reserved</p>
            </div>
            
            <!-- Social icons -->
            <div class="col-12 col-md-6">
                <div class="social-icons d-flex justify-content-center justify-content-md-end gap-3">
                    <a href="#" class="text-white"><i class="bi bi-globe fs-5"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-instagram fs-5"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-twitter-x fs-5"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-tiktok fs-5"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-youtube fs-5"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-facebook fs-5"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>