<base href="../">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<header>
    <!-- Navbar Desktop -->
    <nav class="navbar navbar-expand-lg d-none d-lg-flex fixed-top bg-light-blue-2 shadow-sm">
        <div class="container d-flex justify-content-center align-items-center">
            <!-- Logo Garuda & Age (Rating Icons) dalam satu div -->
            <div class="d-flex justify-content-center flex-grow-1">
                <a class="navbar-brand" href="#">
                    <img id="logo" src="assets/img/navbar/garuda.png" class="logo" alt="Garuda Pancasila">
                    <img id="logo-dark" src="assets/img/navbar/garuda-dark.png" class="logo-dark" alt="Garuda Pancasila">
                </a>
                <div class="age d-flex flex-column justify-content-start w-100">
                    <div class="age d-flex justify-content-between align-items-center w-100">
                       <div class="rating-icons d-flex justify-content-start">
                            <img src="assets/img/navbar/su.png" alt="SU" data-bs-toggle="modal" data-bs-target="#modalSU" style="cursor: pointer;">
                            <img src="assets/img/navbar/13.png" alt="13+" data-bs-toggle="modal" data-bs-target="#modal13Plus" style="cursor: pointer;">
                            <img src="assets/img/navbar/17.png" alt="17+" data-bs-toggle="modal" data-bs-target="#modal17Plus" style="cursor: pointer;">
                            <img src="assets/img/navbar/21.png" alt="21+" data-bs-toggle="modal" data-bs-target="#modal21Plus" style="cursor: pointer;">
                        </div>
                    
                        <!-- Dropdown Language Select & Switch -->
                        <div class="d-flex align-items-center justify-content-end gap-4 w-100">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="/assets/img/navbar/id.svg" class="me-2 flag" alt=""> Indonesia</a>
                                </button>
                                <ul class="dropdown-menu text-gray-2" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item text-gray-2" href="#"> <img src="/assets/img/navbar/id.svg" class="flag me-2" alt=""> Indonesia</a></li>
                                  <li><a class="dropdown-item text-gray-2" href="#"> <img src="/assets/img/navbar/eng.svg" class="flag me-2" alt=""> English</a></li>
                                </ul>
                              </div>
                            <label class="switch d-flex align-items-center justify-content-center gap-1">
                                <input type="checkbox" id="themeToggle" checked>
                                <span class="slider round"></span>
                                <span id="themeText" class="fw-normal" style="z-index: 1; position: relative; right: 8px">light</span>
                            </label>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse d-flex justify-content-between w-100 ps-4 relative" id="navbarNav" >
                        <ul class="navbar-nav">
                            <li id="sec-home" class="nav-item"><a class="nav-link" href="index.html">Beranda</a></li>
                            <!-- Tentang Dropdown -->
                            <li id="sec-tentang" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="tentangDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Tentang LSF
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="tentangDropdown">
                                    <li><a class="dropdown-item" href="/tentang/sejarah.html">Sejarah dan Dasar Hukum</a></li>
                                    <li><a class="dropdown-item" href="/tentang/struktur-organisasi.html">Struktur Organisasi, Tugas dan Fungsi </a></li>
                                    <li><a class="dropdown-item" href="/tentang/profil-anggota.html">Profile Anggota</a></li>
                                </ul>
                            </li>
                    
                            <!-- Layanan Dropdown -->
                            <li id="sec-layanan" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="layananDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Layanan LSF
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="layananDropdown">
                                    <li><a class="dropdown-item" href="/layanan/mekanisme-penyensoran.html">Mekanisme Penyensoran (Web ESIAS)Dasar Hukum</a></li>
                                    <li><a class="dropdown-item" href="/layanan/panduan-film.html">Panduan Film</a></li>
                                    <li><a class="dropdown-item" href="/layanan/film-lulus-sensor.html">Film Lulus Sensor</a></li>
                                    <li><a class="dropdown-item" href="/layanan/data-informasi-film.html">Data dan Informasi Film</a></li>
                                    <li><a class="dropdown-item" href="/layanan/publikasi-penelitian.html">Publikasi dan Penelitian</a></li>
                                    <li><a class="dropdown-item" href="/layanan/majalah.html">Majalah</a></li>
                                    <li><a class="dropdown-item" href="/layanan/berita.html">Berita</a></li>
                                    <li><a class="dropdown-item" href="/layanan/siaran-pers.html">Siaran Pers</a></li>
                                </ul>
                            </li>
                    
                            <!-- Sekretariat Dropdown -->
                            <li id="sec-sekretariat" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="sekretariatDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sekretariat LSF
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="sekretariatDropdown">
                                    <li><a class="dropdown-item" href="/sekretariat/laporan-kinerja.html">Laporan Kinerja Sekretariat</a></li>
                                    <li><a class="dropdown-item" href="/sekretariat/perjanjian-kinerja.html">Perjanjian Kinerja</a></li>
                                    <li><a class="dropdown-item" href="/sekretariat/rencana-strategis.html">Rencana Strategis</a></li>
                                    <li><a class="dropdown-item" href="/sekretariat/elektronik-lkhpn.html">Electronik LHKPN</a></li>
                                    <li><a class="dropdown-item" href="/sekretariat/zi-wbk.html">Zi - WBK/WBBM</a></li>
                                    <li><a class="dropdown-item" href="https://ppid.lsf.go.id/" target="_blank">PPID</a></li>
                                </ul>
                            </li>
                    
                        </ul>
                    
                        <form class="d-flex justify-content-end rounded-pill w-25">
                            <div class="position-relative">
                                <input class="form-control pe-5" type="search" placeholder="Cari..." aria-label="Search">
                                <span class="position-absolute top-50 end-0 translate-middle-y me-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </nav>
    
    <!-- Navbar Mobile -->
    <nav class="navbar navbar-expand-lg d-block d-lg-none fixed-top bg-light-blue-2 shadow py-2">
        <div class="container-fluid px-0">
            <!-- Logo Section and Toggle Button -->
            <div class="d-flex justify-content-between align-items-center w-100 px-3">
                <a class="navbar-brand d-flex align-items-center gap-3 justify-content-start" href="#">
                    <!-- <img src="assets/img/navbar/garuda-mobile.png" class="img-fluid" style="max-width: 35%;" alt="Garuda Pancasila"> -->
                    <img src="/assets/img/navbar/garuda-mobile.png" class="img-fluid" style="max-width: 35%;" alt="Garuda Pancasila">
                    <div class="d-flex justify-content-start" style="max-width: 65%;" >
                        <img src="assets/img/navbar/su.png" alt="SU" class="w-25" data-bs-toggle="modal" data-bs-target="#modalSU" >
                        <img src="assets/img/navbar/13.png" alt="13+" class="w-25" data-bs-toggle="modal" data-bs-target="#modal13Plus" >
                        <img src="assets/img/navbar/17.png" alt="17+" class="w-25" data-bs-toggle="modal" data-bs-target="#modal17Plus" >
                        <img src="assets/img/navbar/21.png" alt="21+" class="w-25" data-bs-toggle="modal" data-bs-target="#modal21Plus" >
                    </div>
                </a>
                
                <!-- Navbar Toggle Button -->
                <!-- <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="custom-toggler-icon"></span>
                </button>
            </div>
    
            
    
            <!-- Navbar Links -->
            <div class="collapse navbar-collapse pt-3 px-3 pb-4" id="navbarNav">
                <!-- Search Form - Outside the collapse menu -->
                <form class="d-flex px-3 py-2 w-100">
                    <div class="position-relative w-100">
                        <input class="form-control pe-5" type="search" placeholder="Cari..." aria-label="Search">
                        <span class="position-absolute top-50 end-0 translate-middle-y me-3">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                    </div>
                </form>
                <ul class="navbar-nav w-100">
                    <li id="sec-home" class="nav-item"><a class="nav-link" href="index.html">Beranda</a></li>
            
                    <!-- Tentang Dropdown -->
                    <li id="sec-tentang" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="tentangDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tentang LSF
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="tentangDropdown" data-bs-auto-close="outside">
                            <li><a class="dropdown-item" href="/tentang/sejarah.html">Sejarah dan Dasar Hukum</a></li>
                            <li><a class="dropdown-item" href="/tentang/struktur-organisasi.html">Struktur Organisasi, Tugas dan Fungsi LSF</a></li>
                            <li><a class="dropdown-item" href="/tentang/struktur-organisasi.html">Profile Anggota</a></li>
                        </ul>
                    </li>
            
                    <!-- Layanan Dropdown -->
                    <li id="sec-layanan" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="layananDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Layanan LSF
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="layananDropdown" data-bs-auto-close="outside">
                            <li><a class="dropdown-item" href="/layanan/mekanisme-penyensoran.html">Mekanisme Penyensoran (Web ESIAS)</a></li>
                            <li><a class="dropdown-item" href="/layanan/panduan-film.html">Panduan Film</a></li>
                            <li><a class="dropdown-item" href="/layanan/film-lulus-sensor.html">Film Lulus Sensor</a></li>
                            <li><a class="dropdown-item" href="/layanan/data-informasi-film.html">Data dan Informasi Film</a></li>
                            <li><a class="dropdown-item" href="/layanan/publikasi-penelitian.html">Publikasi dan Penelitian</a></li>
                            <li><a class="dropdown-item" href="/layanan/majalah.html">Majalah</a></li>
                            <li><a class="dropdown-item" href="/layanan/berita.html">Berita</a></li>
                            <li><a class="dropdown-item" href="/layanan/siaran-pers.html">Siaran Pers</a></li>
                        </ul>
                    </li>
            
                    <!-- Sekretariat Dropdown -->
                    <li id="sec-sekretariat" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="sekretariatDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sekretariat LSF
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="sekretariatDropdown" data-bs-auto-close="outside">
                            <li><a class="dropdown-item" href="/sekretariat/laporan-kinerja.html">Laporan Kinerja Sekretariat</a></li>
                            <li><a class="dropdown-item" href="/sekretariat/perjanjian-kinerja.html">Perjanjian Kinerja</a></li>
                            <li><a class="dropdown-item" href="/sekretariat/rencana-strategis.html">Rencana Strategis</a></li>
                            <li><a class="dropdown-item" href="/sekretariat/elektronik-lkhpn.html">Elektronik LHKPN</a></li>
                            <li><a class="dropdown-item" href="/sekretariat/zi-wbk.html">Zi - WBK/WBBM</a></li>
                            <li><a class="dropdown-item" href="https://ppid.lsf.go.id/" target="_blank">PPID</a></li>
                        </ul>
                    </li>
            
                    <!-- Language Select -->
                    <li class="nav-item w-100 mt-2">
                        <label for="languageSelect" class="nav-link">Pilih Bahasa</label>
                        <div class="dropdown w-100">
                            <button class="btn btn-secondary dropdown-toggle w-100 text-start d-flex align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              <img src="/assets/img/navbar/id.svg" class="me-2 flag" alt=""> Indonesia
                            </button>
                            <ul class="dropdown-menu text-gray-2" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item text-gray-2" href="#"><img src="/assets/img/navbar/id.svg" class="flag me-2" alt=""> Indonesia</a></li>
                              <li><a class="dropdown-item text-gray-2" href="#"><img src="/assets/img/navbar/eng.svg" class="flag me-2" alt=""> English</a></li>
                            </ul>
                          </div>
                          
                    </li>
            
                    <!-- Theme Toggle -->
                    <li class="nav-item w-100 d-flex align-items-center gap-2 mt-3">
                        <label class="switch d-flex align-items-center">
                            <input type="checkbox" id="themeToggleMobile" checked>
                            <span class="slider round"></span>
                        </label>
                        <span id="themeText" class="fw-normal text-grey-2">Light</span>
                    </li>
                </ul>
            </div>
            
            
        </div>
    </nav>
</header>

<!-- Modal Popup -->
<!-- SU Modal -->
<div class="modal fade" id="modalSU" tabindex="-1" aria-labelledby="modalSULabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex flex-column justify-content-center align-items-center pb-5">
              <img src="assets/img/navbar/su.png" class="img-fluid w-25" alt="">
              <img src="assets/img/home/img/img-su.png" class="img-fluid w-75" alt="">
              <div class="container border-green" style="border-radius: 1.5rem; margin-top: -5rem; background-color: white;">
                  <div class="modal-body-content">
                        <h3>Klasifikasi Semua umur (SU)</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu malesuada enim, ac sagittis lacus. Fusce turpis tellus, interdum vitae tellus id, congue mattis nisl. Cras interdum consectetur turpis, sit amet auctor arcu lacinia ac. Nulla sollicitudin, augue ac vulputate sollicitudin, lectus ante consectetur risus, ut vulputate metus justo nec massa. Vestibulum feugiat maximus massa, a convallis magna suscipit vel. In ac efficitur ante, maximus tincidunt lorem.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nobis dolores consequuntur natus dignissimos eius eos tenetur, placeat porro cupiditate officiis a enim velit vel fuga sint labore. Id, voluptatem?
                            Cumque sapiente id vero beatae veniam, dignissimos incidunt praesentium odit? Qui neque aut quisquam veniam vitae beatae commodi pariatur fuga ut vel quidem ab, soluta error amet tempora deleniti dolore?
                            Ut maxime, corporis reiciendis iste facere quas laborum obcaecati nam voluptate tenetur similique recusandae? Officia numquam rem quod earum tenetur est nobis. Blanditiis magni iusto dolore rerum eveniet maiores facilis.
                        </p>
                    </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- 13+ Modal -->
<div class="modal fade" id="modal13Plus" tabindex="-1" aria-labelledby="modal13PlusLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body d-flex flex-column justify-content-center align-items-center pb-5">
                <img src="assets/img/navbar/13.png" class="img-fluid w-25" alt="">
                <img src="assets/img/home/img/img-13+.png" class="img-fluid w-75" alt="">
                <div class="container border-yellow" style="border-radius: 1.5rem; margin-top: -5rem; background-color: white;">
                    <div class="modal-body-content">
                        <h3>Klasifikasi Remaja 13 Tahun (R13)</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu malesuada enim, ac sagittis lacus. Fusce turpis tellus, interdum vitae tellus id, congue mattis nisl. Cras interdum consectetur turpis, sit amet auctor arcu lacinia ac. Nulla sollicitudin, augue ac vulputate sollicitudin, lectus ante consectetur risus, ut vulputate metus justo nec massa. Vestibulum feugiat maximus massa, a convallis magna suscipit vel. In ac efficitur ante, maximus tincidunt lorem.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nobis dolores consequuntur natus dignissimos eius eos tenetur, placeat porro cupiditate officiis a enim velit vel fuga sint labore. Id, voluptatem?
                            Cumque sapiente id vero beatae veniam, dignissimos incidunt praesentium odit? Qui neque aut quisquam veniam vitae beatae commodi pariatur fuga ut vel quidem ab, soluta error amet tempora deleniti dolore?
                            Ut maxime, corporis reiciendis iste facere quas laborum obcaecati nam voluptate tenetur similique recusandae? Officia numquam rem quod earum tenetur est nobis. Blanditiis magni iusto dolore rerum eveniet maiores facilis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 17+ Modal -->
<div class="modal fade" id="modal17Plus" tabindex="-1" aria-labelledby="modal17PlusLabel" aria-hidden="true">
    <div class="modal-dialog modal-nd modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body d-flex flex-column justify-content-center align-items-center pb-5">
                <img src="assets/img/navbar/17.png" class="img-fluid w-25" alt="">
                <img src="assets/img/home/img/img-17+.png" class="img-fluid w-75" alt="">
                <div class="container border-red" style="border-radius: 1.5rem; margin-top: -5rem; background-color: white;">
                    <div class="modal-body-content">
                        <h3>Klasifikasi Dewasa 17 Tahun (D17)</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu malesuada enim, ac sagittis lacus. Fusce turpis tellus, interdum vitae tellus id, congue mattis nisl. Cras interdum consectetur turpis, sit amet auctor arcu lacinia ac. Nulla sollicitudin, augue ac vulputate sollicitudin, lectus ante consectetur risus, ut vulputate metus justo nec massa. Vestibulum feugiat maximus massa, a convallis magna suscipit vel. In ac efficitur ante, maximus tincidunt lorem.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nobis dolores consequuntur natus dignissimos eius eos tenetur, placeat porro cupiditate officiis a enim velit vel fuga sint labore. Id, voluptatem?
                            Cumque sapiente id vero beatae veniam, dignissimos incidunt praesentium odit? Qui neque aut quisquam veniam vitae beatae commodi pariatur fuga ut vel quidem ab, soluta error amet tempora deleniti dolore?
                            Ut maxime, corporis reiciendis iste facere quas laborum obcaecati nam voluptate tenetur similique recusandae? Officia numquam rem quod earum tenetur est nobis. Blanditiis magni iusto dolore rerum eveniet maiores facilis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 21+ Modal -->
<div class="modal fade" id="modal21Plus" tabindex="-1" aria-labelledby="modal21PlusLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body d-flex flex-column justify-content-center align-items-center pb-5">
                <img src="assets/img/navbar/21.png" class="img-fluid w-25" alt="">
                <img src="assets/img/home/img/img-21+.png" class="img-fluid w-75" alt="">
                <div class="container border-black" style="border-radius: 1.5rem; margin-top: -5rem; background-color: white;">
                    <div class="modal-body-content">
                        <h3>Klasifikasi Dewasa 21 Tahun (D21)</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu malesuada enim, ac sagittis lacus. Fusce turpis tellus, interdum vitae tellus id, congue mattis nisl. Cras interdum consectetur turpis, sit amet auctor arcu lacinia ac. Nulla sollicitudin, augue ac vulputate sollicitudin, lectus ante consectetur risus, ut vulputate metus justo nec massa. Vestibulum feugiat maximus massa, a convallis magna suscipit vel. In ac efficitur ante, maximus tincidunt lorem.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nobis dolores consequuntur natus dignissimos eius eos tenetur, placeat porro cupiditate officiis a enim velit vel fuga sint labore. Id, voluptatem?
                            Cumque sapiente id vero beatae veniam, dignissimos incidunt praesentium odit? Qui neque aut quisquam veniam vitae beatae commodi pariatur fuga ut vel quidem ab, soluta error amet tempora deleniti dolore?
                            Ut maxime, corporis reiciendis iste facere quas laborum obcaecati nam voluptate tenetur similique recusandae? Officia numquam rem quod earum tenetur est nobis. Blanditiis magni iusto dolore rerum eveniet maiores facilis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="https://wa.me/1XXXXXXXXXX" class="float" target="_blank">
    <img src="assets/img/btn-wa.png" class="w-100 img-fluid d-none d-lg-block" alt="">
</a>