.social-icons {
    order: 2; /* Default: Social icons setelah copyright */
}

.footer p {
    order: 1; /* Default: Copyright sebelum social icons */
}

@media only screen and (max-width: 768px) {
    .footer {
        height: auto;
    }

    .footer .container {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .social-icons {
        order: 1;
        margin-top: 1.5rem;
    }

    .footer p {
        order: 2;
        align-self: flex-start;
        text-align: left;
        margin-bottom: 1.5rem;
    }

    .social-icons {
        gap: 15px;
    }

    .social-icons a {
        width: 32px;
        height: 32px;
    }
}