.bg-light-blue {
    background-color: #f6f8ff;
}

.fw-800{
    font-weight: 800;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fs-12 {
    font-size: 0.75rem;
}

.fs-14 {
    font-size: 0.875rem;
}

.fs-16 {
    font-size: 1rem;
}

.fs-18{
    font-size: 1.125rem;
}

.fs-20 {
    font-size: 1.25rem;
}

.fs-32{
    font-size: 2rem;
}

.fs-30{
    font-size: 1.875rem;
}

.fs-42{
    font-size: 2.625rem;
}

.fs-25{
    font-size: 1.563rem;
}

.fs-26{
    font-size: 1.625rem;
}

.fs-28 {
    font-size: 1.75rem;
}

.color-blue {
    color: #141470;
}

.color-grey {
    color: #717171;
}

.color-green {
    color: #519B44;
}

.bg-blue-1{
    background-color: #141470;
}