.bg-light-blue {
    background-color: var(--bg-light-blue);
}

.bg-card-white {
    background-color: var(--bg-card-white) !important;
}

.text-color-reguler {
    color: var(--color-text);
}

.text-grey-1 {
    color: var(--text-grey-1);
}

.text-grey-2 {
    color: var(--text-grey-2);
}

.text-blue-1 {
    color: var(--text-blue-1);
}

.text-white-blue {
    color: var(--text-white-blue);
}

.fw-800{
    font-weight: 800;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fs-12 {
    font-size: 0.75rem;
}

.fs-14 {
    font-size: 0.875rem;
}

.fs-16 {
    font-size: 1rem;
}

.fs-18{
    font-size: 1.125rem;
}

.fs-20 {
    font-size: 1.25rem;
}

.fs-32{
    font-size: 2rem;
}

.fs-30{
    font-size: 1.875rem;
}

.fs-42{
    font-size: 2.625rem;
}

.fs-25{
    font-size: 1.563rem;
}

.fs-26{
    font-size: 1.625rem;
}

.fs-28 {
    font-size: 1.75rem;
}

.color-blue {
    color: #141470;
}

.color-blue-2 {
    color: var(--text-blue-2);
}

.color-grey {
    color: #717171;
}

.color-green {
    color: #519B44;
}

.bg-blue-1{
    background-color: #141470;
}

.breadcrumb {
    gap: 8px;
    align-items: center;
}

.breadcrumb-item a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-breadcumb-icon);
    text-decoration: none;
}

.breadcrumb-icon i {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-breadcumb-icon);
}

.breadcrumb-item.active {
    font-size: 1rem;
    font-weight: 600;
    color: #39399D !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: none !important;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--text-nav-tabs);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    background-color: transparent;
    border-color: transparent transparent #39399D transparent;
    border-bottom: 2px solid var(--border-nav-tabs-before-active);
}

.nav-tabs .nav-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: var(--text-nav-tabs);
    line-height: 40px;
    border: 0;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: var(--text-nav-tabs-active);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #f6f8ff #f6f8ff #39399D #f6f8ff;
    border-bottom: 2px solid var(--border-nav-tabs-active);
    isolation: unset;
}

.accordion-item {
    background-color: var(--bg-accordion);
}

@media only screen and (max-width: 768px) {
    .btn-custom-xl {
        width: 11.938rem;
        height: 3rem;
        font-size: 1rem;
    }
    .breadcrumb {
        gap: 4px;
    }
    .breadcrumb-item a {
        font-size: 0.875rem;
    }

    .breadcrumb-icon i {
        font-size: 0.875rem;
    }

    .breadcrumb-item.active {
        font-size: 0.875rem;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        font-size: 0.875rem;
    }
    .nav-tabs .nav-link {
        font-size: 0.875rem;
    }
    .m-hidden {
        display: none;
    }
}